* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Afacad", sans-serif;
  color: #ffffff;
}

body {
  overflow: hidden;
}

.fueltech {
  position: absolute;
  top: 80px;
  left: 112px;
  width: 100vw;
  height: 100vh;
}
.fueltech__grid {
  width: 478px;
  height: 278px;
  position: fixed;
  padding: 8px 16px;
  background: #1b191a;
}

.rpm {
  width: 100%;
}
.rpm__text {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}
.rpm__text p {
  font-size: 38px;
  font-weight: bold;
}
.rpm__text span {
  font-size: 22px;
  font-weight: normal;
}
.rpm__bar__container {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  margin-top: -10px;
  z-index: -1;
  overflow: hidden;
  background: linear-gradient(45deg, #ffe232, #ff8d1c, #fc1712);
}
.rpm__bar__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  clip-path: polygon(90% 0, 55% 70%, 0 80%, 0 0);
  height: 50%;
  background: #1b191a;
}
.rpm__bar__content {
  height: 100%;
  background: #3d3d3d;
  margin-left: auto;
  transition: width 0.25s;
}

.status__item {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.status__item--title {
  color: #da9853;
  font-weight: 600;
  font-size: 20px;
}
.status__item--value {
  font-size: 28px;
  font-weight: bold;
}
.status__item--button {
  width: 64px;
  height: 28px;
  margin-top: 8px;
  background: red;
  border-radius: 4px;
  transition: background-color 0.25s;
}
.status__item--button.on {
  background: #04de00;
}
.status__item--button.off {
  background: #d4302d;
}

.status {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.shift {
  background: #ffe232;
  width: 100%;
  height: calc(100% - 120px);
  margin-top: 15px;
  display: grid;
  place-items: center;
}
.shift h1 {
  color: #ff370e;
  font-weight: bold;
  font-size: 140px;
}
